// 公共颜色库
$main_blue: #1581D9;
$jd_red: #C60C1B;
$border_grey: #BFCBD9;
$border_grey_lighter: #F6F6F6;
$border_grey_lighter_1: #DCDCDC;

$active_grey: #F6F6F6;
$notice_red: #F77F7A;

// font color
$font_first: #333;
$font_second: #555;
$font_third: #888;
$font_remark: #999999;

// background
$git_bg_grey: #F6F8FA;
$git_bg_green: #F1F8FF;
$weixin_green: #9ccc65;
